
h1{

	color: green;
}

.alert-info{color:yellow;background-color:#d9edf7;border-color:#bce8f1;}


.Hello{
	background-color: green;
}



.panel-body{
background-color: pink;
min-height: 40px;
max-height: 80px; 
overflow-y: scroll;

}



a.list-group-item:hover,
a.list-group-item:focus,
 {
  color: white;
  text-decoration: none;
  background-color: blue;
}

