<h1>Design Editor</h1>
<br/>
<a style="color: blue; cursor: pointer;" (click)="moveToDesigns()">See all the stored designs</a>
<br/><br/>
<label>Upload your design:</label><br/>
<input type="file" id="imageLoader" (change)="handleImage($event)" name="imageLoader"/>
<input type="text" id="addText" placeholder="Enter text to add to design"/>
<button id="submittext" (click)="addText()">
Submit Text
</button>
<br/><br/>
<input type="button" value="undo" (click)="undo()">
<input type="button" value="redo" (click)="redo()">
<input type="button" value="Save Design" (click)="save()">
<br/><br/>
<canvas id="imageCanvas"></canvas>